<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.acadlink">
    <!-- Required for Firebase and network operations -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AcadLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcdaLink"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AiProjectRecommender"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false" />
        <activity
            android:name=".DownloadsActivity"
            android:exported="false" />
        <activity
            android:name=".RequestSentActivity"
            android:exported="false" />
        <activity
            android:name=".RequestReceivedActivity"
            android:exported="false" />
        <activity
            android:name=".RequestToFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".RequestFromStudentsToFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AllProjectSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ItemAllProjectActivity"
            android:exported="false" />
        <activity
            android:name=".AllProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".MyProjectSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ItemMyProjectActivity"
            android:exported="false" />
        <activity
            android:name=".MyProjects"
            android:exported="false" />
        <activity
            android:name=".ApiTestActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectReportActivity"
            android:exported="false" />
        <activity
            android:name=".AiCheckingActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectDetailsActivity"
            android:exported="false" /> <!-- Launcher Activity -->
        <activity
            android:name=".LoginOptionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login with Email -->
        <activity
            android:name=".LoginEmailActivity"
            android:exported="false" /> <!-- Registration -->
        <activity
            android:name=".RegisterEmailActivity"
            android:exported="false" /> <!-- Forgot Password -->
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" /> <!-- Home Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Upload Project (keyboard fix applied here) -->
        <activity
            android:name=".UploadProjectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Profile Edit -->
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false" /> <!-- Account Deletion -->
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="false" />
    </application>

</manifest>